<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
        android:minSdkVersion="34" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.tw.clipshare.ClipShareActivity"
            android:theme="@style/Theme.ClipShare"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tw.clipshare.SettingsActivity"
            android:theme="@style/Theme.ClipShare"
            android:label="Settings" />
        <activity
            android:name="com.tw.clipshare.InvisibleActivity"
            android:label="Overlay"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden" />

        <service
            android:name="com.tw.clipshare.FileService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
        <receiver android:name="com.tw.clipshare.FileService$StopEventReceiver" />
        <service
            android:name="com.tw.clipshare.BackgroundService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
        <receiver android:name="com.tw.clipshare.BackgroundService$EventReceiver" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>